* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  }
  body {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    min-width: 50vh;
  }
  .contentsCarrier{
    flex-direction: column;

  }
  .header{
    margin-top: 100px;
    width: 450px;
    height: 250px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 25px 25px 0 0;
    text-align:center;
    position: relative;
    z-index: 1;
  }
  .iconArea{
    width: 100px;
    height: 100px;
    border-radius: 20vh;
    background-color: black;
    position: relative;
    z-index: 2;
    left: 175px;
    top: 150px;
  }
  .main{
    width: 450px;
    height: 600px;
    border: 2px solid black;
    border-radius: 0 0 25px 25px;
    background-color: antiquewhite;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .iconCarrier{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    left: 50px;
    bottom: 200px;
  }
  .avatarIcon{
    width: 100px;
    height: 100px;
    border-radius: 20vh;
    background-color: black;
  }
  
  .footer{
    margin-bottom: 100px;
    width: 450px;
    height: 200px;
    background-color: gray;
    border: 2px solid black;
    position: relative;
    z-index: 1;
    bottom: 100px;
  }